In [0]:
USE CATALOG my_catalog;
USE SCHEMA school;

SELECT current_catalog(),current_schema()

In [0]:
drop table if exists student_temp;
drop table if exists student_temp_BROZE;
CREATE TABLE student_temp_BROZE (
  id INT,
  name STRING,
  country STRING,
  state STRING,
  latitude DOUBLE,
  longitude DOUBLE,
  gender STRING,
  ethnic_group STRING,
  age INT,
  english_score DOUBLE,
  math_score DOUBLE,
  sciences_score DOUBLE,
  language_score DOUBLE
)
USING DELTA;

In [0]:
COPY INTO student_temp_BROZE
FROM '/Volumes/my_catalog/school/student_raw_data/student-dataset.csv'
FILEFORMAT = CSV
FORMAT_OPTIONS(
  'header' = 'true',
  'inferSchema' = 'true'
)
COPY_OPTIONS('mergeSchema' = 'true');

In [0]:
-- BRONZE DONE
select * from student_temp_BROZE;

In [0]:
CREATE OR REPLACE TABLE student_temp_SILVER AS  SELECT ID,NAME,round(latitude,1) as latitude,
round(longitude,1) as longitude,decode(gender,'F','Female','M','Male') as gender,AGE ,nationality
,city,english_grade,math_grade,sciences_grade,language_grade FROM student_temp_BROZE;

In [0]:
SELECT * FROM student_temp_SILVER;

In [0]:
create or replace temp view  student_country_cnt as select nationality,count(1) from student_temp_SILVER from group by nationality

In [0]:
select * from student_country_cnt;

In [0]:
create table if not exists student_temp_gold (STUDENT_COUNTRY string,No_of_students long);

In [0]:
insert overwrite table student_temp_gold select * from student_country_cnt;

In [0]:
select * from student_temp_gold order by No_of_students desc;